.details {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  grid-column-gap: 60px;
  height: 100vh;
  width: 100%;
  padding: 5rem 40px;
  position: absolute;
  top: calc(15vh + 50%);
  transform: translateY(-50%);
  z-index: 200;
  overflow-x: hidden;
  line-height: 110%;
  max-height: 900px;
}

.details--hidden {
  display: none;
}

.details--left {
  left: -100vw
}

.details__textContainer {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: space-between;
}

.details__title {
  font-size: 2.3em;
  font-family: "Playfair Display";
  margin-bottom: 10px;
  line-height: 115%;
}

.details__paragraph {
  line-height: 120%;
  font-size: 1.3em;
}

.details__name {
  position: relative;
  font-size: 2.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.details__name-shape {
  position: absolute;
  width: 8em;
  height: 8em;
  z-index: -1;
  right: 2%;
}

.details__return {
  position: absolute;
  top: 5rem;
  right: 60px;
  cursor: pointer;
}

.details__contact {
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
  transform: translateX(-40px)
}

.details__cta {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.details__return:hover::before, .details__contact:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  pointer-events: none;
}

.details__return::before, .details__contact::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  background: black;
  transition: transform .6s ease;
  transform-origin: right;
  transform: scaleX(0);
  width: 100%;
  height: 5px;
  z-index: -99;
}

.arrow {
  width: 30px;
  height: 30px;
  overflow: hidden !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.details__return .arrow {
  margin-left: 10px;
}

.details__contact .arrow {
  margin-right: 10px;
}

.return__arrow > * {
  transform: rotate(-90deg) translateY(-130%);
  transition: transform .4s ease;
}

.return__arrow.--is-visible > * {
  transform: rotate(-90deg) translateY(0%);
}

.contact__arrow > * {
  transform: rotate(90deg) translateY(-130%);
  transition: transform .4s ease;
}

.contact__arrow.--is-visible > * {
  transform: rotate(90deg) translateY(0%);
}

@media(max-width: 1200px) {
  .details__title {
    font-size: 1.9em;
  }

  .details {
    font-size: .9em;
  }

  .details__cta {
    font-size: 1.8em;
  }
}

@media (max-width: 1000px) {
  .details {
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
  }

  .details__name {
    grid-row-start: 1;
    justify-content: center;
  }

  .details__contact {
    margin: 0;
    transform: translateX(-35px);
  }

  .details__return {
    top: unset;
    bottom: 5rem;
    transform: translateX(-20px);
  }

  .arrow {
    width: 25px;
    height: 25px;
  }
}

@media(max-width: 768px) {
  .details__title {
    font-size: 1.5em;
  }

  .details {
    grid-template-rows: 10% 90%;
    padding: 45pt 0;
    font-size: .8em;
  }

  .details__return {
    bottom: 45pt;
  }

  .details__name-shape {
    width: 5em;
    height: 5em;
  }

  .details__return {
    transform: unset;
  }
}

@media(max-width: 568px) {
  .details__title {
    font-size: 1.2em;
  }

  .details__cta {
    font-size: 1.2em;
  }

  .details__paragraph {
    font-size: 12px;
  }

  .details {
    grid-template-rows: 10% 90%;
    padding: 20px 0 45pt 0;
    font-size: .8em;
  }

  .details__contact {
    transform: translateX(-20px);
  }

  .details__return {
    bottom: 45pt;
  }

  .details__name-shape {
    width: 4em;
    height: 4em;
  }

  .arrow {
    width: 10px; height: 10px;
  }
}