.meet {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30% 70%;
  height: 100%;
}

.meet__shape {
  width: 16em;
  height: 16em;
}

.meet__text {
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 2em;
  line-height: 120%;
}

@media (max-width: 1200px) {
  .meet__text {
    padding: 50px 100px;
    font-size: 1.5em;
  }
}
@media (max-width: 850px) {
  .meet__text {
    padding: 50px 100px;
    font-size: 1.2em;
  }
}
@media (max-width: 650px) {
  .meet {
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
  }

  .meet__shape {
    width: 13em;
    height: 13em;
    justify-self: center;
    align-self: center;
  }

  .meet__text {
    grid-column-start: 1;
    padding: 50px 100px;
    font-size: 1.2em;
    margin-bottom: 45pt;
  }
}
@media (max-width: 550px) {
  .meet__text {
    grid-column-start: 1;
    padding: 50px 20px;
    font-size: 1em;
    display: flex;
    align-items: center;
  }
}